{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for post in posts %}
<div class = "main">
    <div class = "main_left">
        <section class = "card_section">
            <div class = "following_card">
                <header>
                <img src="{% static 'image/bye.jpg' %}" alt = "">
                <div class = "user_name">{{post.user.username}}</div>
                {% if user != post.user %}
                    {% if user in post.user.followers.all %}
                        <a href="{% url 'users:follow_toggle' post.user.id %}" >팔로잉</a>
                    {% else %}
                        <a href="{% url 'users:follow_toggle' post.user.id %}" >팔로우</a>
                    {% endif %}
                {% endif %}
                {% if user == post.user %}
                    <a href="{% url 'posts:delete' post.pk %}"  style="margin-left: 25rem;">삭제</a>
                    <a href="{% url 'posts:edit' post.pk %}">수정</a>
                {% endif %}
                </header>
                <div class = "card_image">
                <img src="{{ post.image.url }}" class="media"  alt="...">
                </div>
                <div class = "info">
                <div class = "info_left">
                  {% if user in post.likes.all %}
                      <i data-post-id = "{{post.id}}" class="icon ion-ios-heart {{post.id}}"></i>
                  {% else %}
                      <i data-post-id = "{{post.id}}" class="icon ion-ios-heart-empty {{post.id}}"></i>
                  {% endif %}
                  <br>
                  <p class = "like-count-{{post.id}}">좋아요 {{ post.likes_count }}개<p>
                  <!-- <i class = "far fa-comment"></i>
                  <i class = "fas fa-upload"></i> -->
                  </a>
                </div>
                <div class = "info_right">
                    <!-- <i class = "far fa-bookmark"></i> -->
                </div>
                </div>
                <div class = "post_title">
                  <p>{{post.user.username}}</p>{{post.title}}<br>
                  <p2>{{post.content}}</p2>
                </div>
                <div class = "comment">
                    {% if post.comments %}
                            {% for comment in post.comments %}
                                 <div class="comment_block">
                                    <h2>{{ comment.user.username }}</h2>
                                    <div class = "message">{{ comment.message }}</div>
                                        {% if user == comment.user %}
                                            <a href="{% url 'posts:delete_comment' comment.pk %}" class="comment_delete">삭제</a>
                                        {% endif %}
                                  </div>
                            {% endfor %}
                    {% endif %}
                </div>
                <div class="in-line">
                    <form action = "{% url 'posts:create_comment' post.pk %}" method = "POST">
                        {% csrf_token %}
                        <input type="text" name="message" value="" placeholder="댓글 달기..." >
                        <button type = "submit">작성</button> 
                    </form>
                    
                </div>
            </div>
    </section> 
    </div>
    <div class = "main_right">
        <div class = "right_nav">
        <div id = "fixed_nav">
            <div class = "my_card">
                <header>
                    <img src="{% static 'image/bye.jpg' %}" alt = "">
                    <div class = "user_name">{{request.user}}</div>
                </header>
                 {% for following in request.user.followings.all %}
                  {{following}}<br>
                 {% endfor %}
            </div>
        </div>
        </div>
    </div>
</div>



{% endfor %}
{% endblock content %}

{% block js %}
<script>
  $(".icon").on("click", function(){
    const itemId = $(this).data('post-id');
    $.ajax({
        url: `posts/${itemId}/like_toggle/`,
        type: 'POST',
        data: {'csrfmiddlewaretoken' : "{{csrf_token}}"},
        success: function(response) {
          $(`.${itemId}`).attr('class', `icon ion-ios-${response.result} ${itemId}`);
          $(`.like-count-${itemId}`).text(`좋아요 ${response.likes_count}개`);
        },
        error:function(request,status,error){
        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
      }); 
  }); 
</script>
{% endblock js %}
