{% load static %}
<div class = "nav_container">
    <div class = "left">
        <i id = "insta_icon" class="fab fa-instagram" href="{% url 'home' %}"></i><h1>instagram</h1>
    </div>
    <div class = "search">
            <form class = "searchform" action = "{% url 'posts:search' %}">
                <input id = "search_input" type = "text" name = "search" placeholder="검색">
            </form>
    </div>
    <div class= "right">
        <i class = "far fa-compass"></i>
        <i class = "far fa-heart"></i>
        <i class = "far fa-user"></i>
    </div>    
</div>


<!-- {% if request.user.is_authenticated %}

{% else %}

{% endif %} -->
